 <div class="login " ng-controller="logincontroller">
        <div class="login-form">
            <h3> Login </h3>
            <form name="loginform" class="loginform">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" name="email" id="user-email" placeholder="Email" ng-model="text" required>
                    <div ng-show="loginform.email.$error.required"> Required</div>
                    <div ng-show="loginform.email.$error.email"> Enter valid email address</div>
                </div>
                
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control password" id="user-password" placeholder="Password" required="" ng-model="password" ng-minlength="6">

                    <div ng-show="loginform.password.$error.required"> Required</div>
                    <div ng-show="loginform.password.$error.minlength"> enter characters more than 6</div>
                </div>
                
                
                <div id="welcome_msg">Welcome back, {{text}} </div>
                <button type="submit" class="btn btn-default" ng-disabled="loginform.$invalid" ng-click="goToHome()">Login</button>
            </form>
        </div>
    </div>
   